
.main_wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 80%;
    grid-template-rows: 20% 1fr;
}


#cipherTextInput{
    grid-column: 2/span 1;
    grid-row: 1/4;
    background-color: lightgrey;
    outline: none;
    border: none;
    padding: 2em;
}


#key-menu{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    background-color: #707070;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: "Sunflower";
    color: #202020;
    font-size: 2em;
    
}

#more-keys{
    position: absolute;
    bottom: 0.1em;
    right:0.2em;
    font-size: 0.7em;
    display: block !important;
}

#decryptedText{
    grid-column: 1/span 1;
    grid-row: 2/4;
    background-color:darkgrey;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: #202020;
    overflow: auto;
}

#run{
    grid-row: 1/2;
    grid-column: 2/3;
}

#logo{
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-family: "Sunflower";
    color: #003B99;
    font-size: 2em;
}

#hidden-key-cache{
    display:none;
}


#alt-list{
    display:none;
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    width: 100%;
    height: 100%;
    background-color:  #F02020;
    flex-direction: column;
    align-items: center;
    font-family: "Sunflower";
    color: #202020;
    font-size: 2em;
    overflow: auto;
}

.alt-key{
    width:100%;
    height:2em;
    font-size: 0.4em;
    background-color: white;
    color: black;
    border-bottom-style: dotted;
    padding-left: 1em;
    border-width: 0.1em;
    display:flex;
    align-items: center;
    box-sizing: border-box;
}

body{
    margin: 0;
}

@font-face {
    font-family: 'Sunflower';
    src: url('./fonts/Sunflower.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}